@import url("https://fonts.googleapis.com/css?family=Archivo");
.jumbotron {
  background-image: url(../images/i1.gif);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: Archivo;
  font-style: italic;
  text-shadow: 4px 4px 4px #aaa;
}
